body{
	background-color: #b5a789;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-sixe: small;
	margin: 0px;
}
header.top{
background-color: #675c47;
margin: 10px 10px 0px 10px;
height: 108px;
}
header.top img #headerSlogan{
float:right;
}